a {
  color: #00aeff;
}

a:visited {
  color: #c473d5;
}

.wrapper {
  margin: 10px;
}

.landing section {
  margin: 30px 0;
}

.landing section h2 {
  background-color: transparent;
}

.user-wrapper h1, .user-wrapper h2, .wrapper h1, .wrapper h2 {
  font-size: 1.3rem;
  line-height: 1.7rem;
  background-color: #fff;
  display: inline-block;
  margin-bottom: 10px;
  padding: 2px;
}

h2 {
  font-size: 1.1rem;
}

.user-wrapper {
  padding-left: 10px;
}

.user-wrapper p {
  margin: 10px 0;
}

.user-wrapper h1 {
  background-color: rgba(255, 255, 255, 0.7);
}

.user {
  display: flex;
  margin-bottom: 20px;
}

.user section  {
  flex: 1;
  margin-bottom: 20px;
  float: left;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 1px;
}

.user section pre, .user section ul {
  padding: 10px;
}

.user section pre {
  margin-top: 0;
}

.user section h2 {
  margin: 0;
}

article {
  margin: 15px 0;
}

#privacy {
  padding: 0 20px;
  max-width: 600px;
  margin: 0 auto;
}

#privacy h1, #privacy h2 {
  font-size: 1rem;
}

#privacy p, #privacy ol {
  font-size: 0.8rem;
  margin: 10px 0;
}

#privacy ol {
  list-style-type: disc;
  margin-left: 20px;
}

label {
  font-size: 0.8rem;
}

textarea {
  display: block;
  resize: vertical;
  width: 90%;
}

button {
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #39ebaa;
  display: block;
  margin: 20px 0;
}

.links li {
  margin: 5px 0;
}

.links-users li {
  margin: 1% 0 0;
  width: 30%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.op:before {
  content: '* ';
}

.smooth {
  width: 300px;
  height: 200px;
  display: block;
  margin-bottom: 20px;
}

section {
  margin: 10px 0;
}

form {
  margin-bottom: 30px;
}

form input[type=text] {
  width: 50%;
}

#posts article {
  margin: 5px 0;
  padding: 5px;
  background-color: #fff;
}

#posts .reply, .reply-to-post, .posted {
  font-style: italic;
  margin: 10px 0;
  font-size: 0.85rem;
}

.delete button {
  background-color: #ee1864;
  color: #ffbcd4;
}

pre {
  padding: 10px;
  margin-top: 10px;
  white-space: pre-wrap;
  max-width: 800px;
}

#replies {
  margin: 10px 0;
}

.reply-content {
  background-color: #fff;
  margin: 2px;
  position: relative;
  width: 89%;
  padding: 1%;
}

.reply-content form {
  margin: 0;
}

.reply-content button {
  position: absolute;
  top: -10px;
  right: -30px;
}
